extends layout


block css

	link(rel='stylesheet', href='/css/home.css')

block content

	.main

		.carousel

			.about

			p UK Arms Direct is the global leader in defence and security e-commerce.  We offer incredible door to door service of total performance weapons from the UK’s premier arms suppliers.  Whether you’re based in Libya, Bahrain or Syria, we can meet your needs thanks to our excellent and logistical capabilities.  

			a(href='/product')

				img.ammo(src='/images/ammo.jpg')

		.more

			h2 More items to consider

			img(src='/images/guns.png')

	.sidebar

		Sidebar

