extends layout


block css

	link(rel='stylesheet', href='/css/home.css')

block content

	header.mainHeader

		.topHeader.cf
			h1 UK Arms Direct

			ul.miscLinks

				li

					a(href='#') Today's Deals

				li

					a(href='#') Gift cards

				li

					a(href='#') Sell

				li

					a(href='#') Help

		.subHeader
			
			.browse

				h2
					.small Shop by
					.large Department

				ul

					li

						a(href='#') Tanks


					li

						a(href='#') Aircraft


					li

						a(href='#') Armour


					li

						a(href='#') Ammunition

					li

						a(href='#') Full directory

			.search

				span.label Search

				input.keywords

				button Go

			.accountWrap

				.account
					.top Hello
					.bottom Your Account

				.basket

					span Basket

				.wishlist

					.top

						Wish

					.bottom

						List

	.main

		.carousel

			span 50% off Tear Gas

		.more

			ul

				li

					Image here

				li

					Image here

				li

					Image here

				li

					Image here

	.sidebar

		Sidebar

