doctype 5
html	
	head
		block title
			title UK Arms
		meta(name="description",content="")
		

		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css")

		link(rel='stylesheet', href='/css/common.css')

		block css
		
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")

		
	body
	
		#main


	header.mainHeader.cf

		.topHeader.cf
			h1

				a(href='/') UK Arms Direct

			ul.miscLinks

				li

					a(href='#') Today's Deals

				li

					a(href='#') Gift cards

				li

					a(href='#') Sell

				li

					a(href='#') Help

		.subHeader.cf
			
			.browse

				h2
					.small Shop by
					.large Department

				ul.links

					li
						a(href='#') Air &amp; Navy

					li
						a(href='#') Security

					li
						a(href='#') Unmanned

					li
						a(href='#') Medical
					li
						a(href='#') Disaster relief

					li
						a(href='#') Riots, Unrest &amp; Protests

					li
						a(href='#') Guns &amp; Ammunition

					li
						a(href='#') Gas &amp; Chemical Warfare

					li
						a(href='#') Activist Deterrents

					li
						a(href='#') Small Arms &amp; Light Weapons

					li
						a(href='#') Military Training
					li

						a(href='#') Full directory

			.accountWrap

				.account
					.top Hello
					.bottom Your Account

				.basket

					span Basket

				.wishlist

					.top

						Wish

					.bottom

						List

			.searchWrap

				span.label Search

				input.keywords

				button Go

	block content
		
	footer.mainFooter

		span A parody site made at the Campain Against the Arms Trade Hack Day, 2013

