extends layout


block css

	link(rel='stylesheet', href='/css/home.css')
	link(rel='stylesheet', href='/css/product.css')

block content

	.main

		.image

			img.tactica(src='/images/tactica.png')

		.desc
			h1 Tactica APC

			img(src='/images/reviews.png')

			.priceWrap

				span.small price
				span.price &pound;200,000

			p &nbsp;
			
			strong Dynamic. Capable. Discreet. 

			p This versatile, affordable 4x4 wheeled vehicles, ideally suited for use by both military and civil security forces in a wide variety of roles.

			p Transport YOUR personnel quickly and safely. Despite its non-aggressive appearance, this vehicle has some punch!  Its tough armour-plated hull, defeats.62mm armour-piercing rounds, firebombs and IEDs. Ballistic overlaps protect doors and windows, while run-flat tyres ensure mobility under attack.

			p The design of Tactica has evolved to meet operational requirements, customer needs and changes in legislation. It can be completely customised to meet the ever-changing needs of challenging conflicts in all environments.

			p Options: Water cannon and command control features available. 

			p Range: 650km
			p Speed: Up to 120km/h
			p Distributor: BAE Systems Land Systems Division,  Newcastle Upon Tyne with final assembly taking place in Belgium. 
			p Pricing: On request 

			h2 User Reviews

			p Hamad bin Isa Al Khalifah

			strong Its usefulness in suppressing peaceful dissent cannot be underestimated

			p Considering that the Alvis Tactica is seen only a general-use armoured vehicle, its usefulness in suppressing peaceful dissent in particular situations cannot be underestimated. When, for example, in March 2011 our kingdom was threatened by subversive elements who dared to speak out against our absolute rule, our good friend and ally, Saudi Prince and Royal Guard Commander Sheikh Nasser bin Hamad Al Khalifa, was able to send a convoy of his troops to our rescue utilising a number of these vehicles, in order to protect vital installations in our kingdom. This has been invaluable in freeing up our military resources in order to squash the rebellious elements that had congregated around Pearl Roundabout. From inspecting the vehicles I can confirm that they are a quality product of British engineering, which before its use by the Saudis has already shown its capabilities in the conflict in Northern Ireland.


			p Day_Of_Rage

			strong the police were ordered to attack us in the middle of the night

			p The Bahraini royal family has ruled this country since 1820. On 14 February 2011 we called a Day of Rage, on which 6000 people participated in demonstrations across the country. Our protests were brutally crushed with tear gas, rubber bullets, shotguns. Although police already killed three people during the first days of the uprising, we occupied Pearl Roundabout with tents. Instead of the government negotiating with us, the police was ordered to attack us in the middle of the night, and the brutality got worse when tanks and personnel carriers armed with machine guns were brought in. A month later the Saudis went in, with a long column of Alvis Tactica vehicles carrying in hundreds of soldiers to protect government facilities, so that Bahraini forces could dedicate all their resources on brutally crushing the uprising. And this wasn't the only British equipment used against us, as the UK has also sold tear gas, crowd control ammunition, assault rifles, shotguns, sniper rifles and sub-machine guns to our military, all used to crush protests and kill dissenters. 

	.sidebar

		Sidebar

