/*apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited{
  color: rgb(0, 75, 145);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

h2, h3{
	font-weight: normal;
}

h1 a,
h1 a:visited{
color: #000;

}
input{
  font-family: 14px Arial, Helvetica, sans-serif;
}

.options{
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.options a{
	display: block;
	padding: 10px 20px;
	border: 1px solid #000;
	margin: 20px;
	color: #000;
	font-size: 2rem;
}

.options a:hover{
	text-decoration: none;
}

.mainFooter{
	max-width: 980px;
	margin: auto;
	text-align: center;
	font-size: 12px;
	color: #666;
	margin-top: 60px;
}

.mainFooter .more{
}

.mainHeader{
	height: 90px;
}

.topHeader{
	border-bottom: 1px solid #ddd;
}

.topHeader h1{
	float: left;
	letter-spacing: -0.05em;
	margin: 0 20px 0 0;
}

.topHeader .miscLinks{
	margin-top: 10px;
}

.topHeader .miscLinks li{
	display: inline-block;
	padding: 0 6px;
	border-right: 1px solid #ddd;
}

.topHeader .miscLinks li:last-child{
	border-right: none;
}

.subHeader{
	position: relative;
	padding: 6px 0 0 240px;
}

.searchWrap{
	margin-right: 300px;
}

.searchWrap input{
	width: 400px;
	margin: 0 0 0 10px;
}

.accountWrap{
	margin-left: -300px;
	float:right;
}
.accountWrap>div{
	float: right;
	width: 100px;
}

.mainHeader .browse{
	position: absolute;
	left: 0;
}
.browse h2{
	background: #2f3742;
	color: #fff;
	padding: 6px 10px;
	margin: 0 0 0 0;

	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: inline-block;
}

.browse h2 .small{
	font-size: 12px;
}

.browse .links a,
.browse .links a:visited{
	color: #000;
}

.browse .links li{
	margin: 6px 0;
}

.browse .links{
	padding: 10px;
	box-shadow:  0 4px 4px rgba(0,0,0,0.2);

	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.main{
	margin-right: 300px;
}

.main .ammo{
	width: 100%;
}

.main .carousel{
	height: 430px;
	padding: 20px 20px 20px 240px;
}

.more li{

	float: left;
	margin: 20px;
}
