.browse .links{
	display: none;
}

.image{

	float: left;
	width: 400px;
	margin-right: -400px;
}

.tactica{
	float: left;
	width: 400px;
}

.desc{
	margin-left: 400px;
	padding: 20px;
}

.desc h1{
	margin-top: 0;
}
.priceWrap .price{
	font-size: 22px;
	color: red;
	display: inline-block;
	margin: 5px 6px;
}